.navbar-container {
	width: 100vw;
	height: 15vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	
	position: fixed;
	top: 0%;
	left: 0%;
	
	background: #A7B899;
}

.body-container {
	width: 100vw;
	height: 85vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	position: fixed;
	top: 15%;
	left: 0%;
}

.sidebar-container {
	width: 22%;
	height: 85vh;
	overflow-y: scroll;
	
	background: #EBF5DF;
	padding: 1rem;
	box-sizing: border-box;
}

.tasks-container {
	width: 78%;
	height: 85vh;
	overflow-y: scroll;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	
	background: rgb(248, 255, 250);
	padding: 1rem;
	box-sizing: border-box;
}

h1 {
	padding: 1rem;
	font-size: 3.2rem;
}

h3 {
	padding: 0.6rem;
	font-size: 1.4rem;
}

::-webkit-scrollbar {
    display: none;
}

#person-submit{
	margin-top: 20px;
	background: rgb(200, 220, 180);
	border: 1px solid grey;
	border-radius: 3px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px;
}
#status-submit{
	margin-top: 20px;
	background: rgb(200, 220, 180);
	border: 1px solid grey;
	border-radius: 3px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px
}

#priority-submit{
	margin-top: 20px;
	background: rgb(200, 220, 180);
	border: 1px solid grey;
	border-radius: 3px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 2px;
	padding-bottom: 2px
}
