@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
	--background-dark: hsl(96, 20%, 70%);
	--background-middark: hsl(92, 32%, 78%);
	--background-middle: hsl(88, 45%, 87%);
	--background-light: hsl(84, 60%, 96%);
	
	--highlight: white;
	--border: hsl(88, 40%, 40%);
	--modal-background: hsla(88, 16%, 16%, 50%);
	--text-colour: hsl(137, 28%, 18%);
	--font: "DM Sans";
}

body{
	background: var(--background-middle);
	font-family: var(--font);
	color: var(--text-colour);
}

.login-box{
	margin-top: 170px;
	border: 2px solid var(--border);
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 530px;
	height: 320px;
	
	background: white;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#login-input{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 17px;
	width: 170px;
}

#login-submit{
	height: 30px;
	width: 80px;
	
	border-radius: 3px;
	border: 1px solid var(--border);
	background: var(--background-middle)
}

#login-submit:hover{
	background: var(--background-middark)
}