<!doctype html>
<html>
<head>
	<title> Remove person - Grow a Business </title>
	<link rel = "stylesheet" href = {{ url_for('static', filename = "login_style.css") }}> 
</head>
<body>
	<div class = 'login-box'>
		<h1> Remove person</h1>
		<form action = '/remove/' method = "POST">
			<label>
				<p>Select the person to be removed: </p>
				<select name = "removePerson" class = "reassign-dropdown">
					{%for person in data%}
					<option>{{ person }}</option>
					{%endfor%}
				</select>
				<br>
				<p><input type = "submit" value = "Next" class = "next-button"></p>
			</label>
		</form>
	</div>
	<div class = "back-box">
		<a href = "/" class = "back-text">Go Back</a>
	</div>
</body>
</html>
