<!doctype html>
<html>
<head>
	<title>Remove person - Reassign Tasks - Grow a Business</title>
	<link rel = "stylesheet" href = {{ url_for('static', filename = "login_style.css") }}> 
</head>
<body>
	<div class = "details-box">
		<h2>{{ name }} is currently assigned to the following tasks: </h2>
		<table>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Assigned Member</th>
				<th>Created By</th>
				<th>Priority</th>
				<th>Status</th>
			</tr>
			{%for task in tasks%}
				<tr>
					{%for field in task%}
						<td>{{ field }}</td>
					{%endfor%}
				</tr>
			{%endfor%}
		</table>
		<br>
		<p><b>What would you like to do with these tasks? </b></p>
		<form method = "POST" action = "/remove">
			{%for task in tasks%}
				<label>
					<p>{{ task[0] }}: </p>
					<select name = "change-{{ task[0] }}" class = "reassign-dropdown">
						{%for person in data%}
							<option value = "reassign-{{ person }}">Reassign task to {{ person }}</option>
						{%endfor%}
						<option value = "delete">Delete task</option>
					</select>
				</label>
			{%endfor%}
			<br>
			<p>
				<input type = "submit" value = "Previous" class = "previous-button" name = "previous">
				<input type = "submit" value = "Next" class = "next-button" name = "next">
			</p>
			<input name = "deletedName" value = "{{ name }}" id = "hidden-name">
		</form>
	</div>
</body>
</html>
