<!DOCTYPE html>
<html>
<head><title>New Task</title></head>
  <body>
    <h1>New Task</h1>
    <form>
      <p>Enter the name of the task:</p>
      <input type="text" name="name">
      <p>Enter the description of the task:</p>
      <input type="text" name="description">
      <p>Select people involved:</p>
        {% for person in data %} <!-- change var names later -->
        <label>
          <input type="checkbox" name="people" value="{{person}}">{{person}}
        </label><br>
        {% endfor %}
      <p>Task created by:</p>
        <select name="creator">
          {% for person in data %} <!-- change var names later -->
          <option value="{{person}}" {{person}}></option>
          {% endfor %}
        </select>
      <p>Status:</p>
      <select name="status">
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
        <option value="Not Started">Not Started</option>
      </select>

      <button type="submit"Submit></button>
        
    </form>
  </body>


</html>
