<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{url_for('static',filename="newtaskstyle.css")}}>
    <title>New Task</title>
</head>
<body>
  <h1>New Task</h1>
  <form>
    <div class="form-grid">

      <div class="form-group full">
        <label class="field-label">Task name</label>
        <input type="text" name="name">
      </div>

      <div class="form-group full">
        <label class="field-label">Description</label>
        <textarea name="description"></textarea>
      </div>

      <div class="form-group">
        <label class="field-label">People involved</label>
        <select name="peopleInvolved">
          {% for person in data %}
            <option value="{{person}}">{{person}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label class="field-label">Status</label>
        <select name="status">
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
          <option value="Not Started">Not Started</option>
        </select>
      </div>

      <div class="form-group full">
        <label class="field-label">Created by</label>
        <select name="creator">
          {% for person in data %}
          <option value="{{person}}">{{person}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group full">
        <button type="submit">Submit</button>
      </div>

    </div>
  </form>
</body>
</html>
